$colors: (
  blue: (
    lighter: #83AFF5,
    light: #5A8ACD,
    base: #2F66A6,
    dark: #004580,
    darker: #00265C,
  ),
  red: (
    lighter: #F04242,
    light: #CD1929,
    base: #AA0012,
    dark: #870000,
    darker: #670000,
  ),
  black: (
    lighter: lighten(#272727, 20%),
    light: lighten(#333333, 10%),
    base: #333333,
    dark: #2D2D2D,
    darker: #000000,
  ),
  green: (
    lighter:#2CBD4C,
    light: #009829,
    base: #007300,
    dark: #005100,
    darker: #003100,
  ),
  yellow: (
    lighter: #ffe4b2,
    light: lighten(#ffe26b, 5%),
    base: #ffe26b,
    dark: #e5cb60,
    darker: #b27300,
  ),
  white: (
    base: #FFFFFF,
    dark: darken(#FFFFFF, 10%),
    darker: darken(#FFFFFF, 20%),
  ),
  gray: (
    lighter: #D9D8D8,
    light: #A9A9A9,
    base: #7C7B7B,
    dark: #525151,
    darker: #2B2A2A,
  ),
);
